<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ul>
    <%for(i=0;i<pokemon.length;i++){%>
      <li><%=pokemon[i].name%></br></li>
    <%}%>
  </ul>
  </body>
</html>
