<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="/styles.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <ul>
    <%for(i=0;i<pokemon.length;i++){%>
      <li><a href="/pokemon/<%=i%>"><%=pokemon[i].name%></a></br></li>
    <%}%>
  </ul>
  </body>
</html>
