<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="/styles.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <%=pokemon.name%><br/>
    <img src="<%=pokemon.img%>">
  </body>
</html>
